KRISHNA BAHRDWAJ || 
HEART DISEASE PREDICTION PROJECT || 
LOGISTIC REGRESSION

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

DATA COLLECTION

In [2]:
#loading csv data to a dataframe
heart_data = pd.read_csv('/content/heart_disease_data.csv')

In [3]:
# printing sample data \\ first 5 row
heart_data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [5]:
heart_data.shape

(303, 14)

In [6]:
heart_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [7]:
heart_data.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [8]:
#checking how many people have heart disease and how many dont

heart_data['target'].value_counts()

1    165
0    138
Name: target, dtype: int64

1 reps a defective heart and 0 reps a good heart

SPLITTING FEATURES AND TARGET

In [10]:
X = heart_data.drop(columns = 'target' , axis = 1)
Y = heart_data['target']

In [12]:
print(Y)

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

SPLITTING DATA INTO TRAINING AND **TESTING**

In [13]:
x_train , x_test , y_train , y_test = train_test_split(X, Y, test_size = 0.2 ,stratify = Y ,random_state = 2)

In [15]:
print(X.shape , x_train.shape , x_test.shape)

(303, 13) (242, 13) (61, 13)

MODEL TRAINING : LOGISTIC REGRESSION

In [16]:
model = LogisticRegression()

In [30]:
#training the model with x_train , y_train

model.fit(x_train.values , y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

MODEL EVALUATION USING ACCURACY SCORE

In [18]:
#ACCURACY ON TRAINING DATA
x_train_pred = model.predict(x_train)
training_data_accuracy = accuracy_score(x_train_pred , y_train)

In [22]:
print('Accuracy on training data : ',training_data_accuracy*100 , '%')

Accuracy on training data :  85.12396694214877 %

In [23]:
#ACCURACY ON TEST DATA
x_test_pred = model.predict(x_test)
test_data_accuracy = accuracy_score(x_test_pred , y_test)

In [25]:
print('Accuracy on test data : ',test_data_accuracy*100 , '%')

Accuracy on test data :  81.9672131147541 %

BUILDING A PREDCITIVE SYSTEM

In [31]:
#GET INPUT VALUES
input_data = (51,1,2,110,175,0,1,123,0,0.6,2,0,2)

#change ip data to a numpy array
input_data_as_np_array = np.asarray(input_data)

#reshape the numpy array to predict for only one instance
input_data_reshape = input_data_as_np_array.reshape(1,-1)

prediction = model.predict(input_data_reshape)

print(prediction)
if(prediction[0] == 0):
  print('No Heart Disease')
else:
  print('Heart Disease')

[1]
Heart Disease